<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{show.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{show.title}}</h5>
    <p class="card-text">{{show.text}}</p>
    <iframe width="853" height="480" src="{{show.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="#" class="btn btn-primary">booking</a>
  </div>
</div>